output/*.obj
output/*.obj
output/*.txt
output/*.mtl
output/*.bin
output/*.log
output/*.asm
benchmark/*.log
benchmark/results/
benchmark/__pycache__/
benchmark/*.obj
benchmark/*.mtl
build/
Helper/.DS_Store
*.obj
*.pdb
*.ilk
*.exe
*.DS_Store
metalApp
*.png